<!DOCTYPE html>
<html>
    <head>
        <title>Equipos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in equipos">
                    <td>{{item.name}}</td>
                    <td class= "text-center">
                        <button class="btn btn-xs btn-primary" ng-click="getJugadores(item._links.players.href)">Enlace jugadores</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
